absl-py==0.8.1
albumentations @ file:///home/conda/feedstock_root/build_artifacts/albumentations_1626356797841/work
apex==0.1
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
astunparse==1.6.3
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1657325823582/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1702571698061/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1596181673569/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1696764509355/work
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1607338167808/work
bokeh==1.4.0
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1702428545681/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1702423182243/work
bravado @ file:///home/conda/feedstock_root/build_artifacts/bravado_1614723672758/work
bravado-core @ file:///home/conda/feedstock_root/build_artifacts/bravado-core_1662640043835/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854191264/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1610454507814/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi==1.12.3
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1602255615929/work
Click==7.0
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
coverage==4.5.4
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1666563367667/work
cxxfilt==0.2.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1665832383877/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1657553687949/work
dask==2.9.2
dask-cuda==0.13.0
dask-xgboost==0.1.9
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1660619053658/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
distributed==2.12.0
dm-tree @ file:///home/conda/feedstock_root/build_artifacts/dm-tree_1649687575413/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1666389940626/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1674184942191/work
future==0.17.1
gast==0.3.3
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1623994295351/work
google-pasta==0.1.8
graphsurgeon==0.4.1
grpcio==1.16.1
h5py==2.10.0
HeapDict @ file:///home/conda/feedstock_root/build_artifacts/heapdict_1722613793866/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1635886640319/work
hypothesis @ file:///home/conda/feedstock_root/build_artifacts/hypothesis_1609996695370/work
idna==2.8
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1638434827035/work
imgaug @ file:///home/conda/feedstock_root/build_artifacts/imgaug_1640909786103/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252959943/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1688813467203/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1666723258080/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1651241545558/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib==0.13.2
jsonpointer==2.0
jsonref @ file:///home/conda/feedstock_root/build_artifacts/jsonref_1699510629306/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1658332410497/work
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610712607026/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1657953348991/work
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/lightgbm_1665453923955/work
llvmlite==0.31.0
lmdb==0.98
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
Markdown==3.1.1
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737698031/work
matplotlib @ file:///root/worker/containers/00000ssis42/tmp/build/80754af9/matplotlib-suite_1634667045491/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mock==3.0.5
modin @ file:///home/conda/feedstock_root/build_artifacts/modin_1605101087904/work
monotonic @ file:///home/conda/feedstock_root/build_artifacts/monotonic_1716462702879/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1690211628840/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1654260887742/work
munkres==1.1.4
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1665832355863/work
neptune-client @ file:///home/conda/feedstock_root/build_artifacts/neptune-client_1730388947277/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==2.3
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1672696305909/work
numba==0.47.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1607200860090/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1701735466804/work
onnx==1.6.0
opt-einsum==0+untagged.49.gdbede45.dirty
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==1.1.4
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1695667515973/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1702249949303/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==7.0.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
plac==0.9.6
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1726179518483/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1648772743594/work
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1665832352112/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
protobuf==3.8.0
psutil==5.6.7
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1706895065046/work
pynvml==8.0.4
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1649013495167/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857415276/work
pytest==4.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
PyWavelets @ file:///root/worker/containers/000019s3rej/tmp/build/80754af9/pywavelets_1601658373928/work
PyYAML==5.1.2
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1663830592039/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1663068438450/work
requests==2.22.0
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1711290127547/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3987==1.3.8
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1701299288828/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
scikit-image==0.15.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
Shapely @ file:///root/worker/containers/00000jmseb4/tmp/build/80754af9/shapely_1632813622865/work
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1649013561624/work
six==1.13.0
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
snap-ml-spark==1.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1606237616034/work
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1607347870236/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1591963379318/work
swagger-spec-validator @ file:///home/conda/feedstock_root/build_artifacts/swagger-spec-validator_1719404608398/work
tabulate==0.8.2
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1702066284995/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post2
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-probability @ file:///tmp/build/80754af9/tensorflow-probability_1633017132682/work
tensorflow-serving-api==2.2.0
tensorrt==7.0.0.11
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1657118200573/work
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1612353239875/work
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1653159268226/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
torch==1.5.0
torchtext==0.6.0
torchvision==0.6.0a0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1656938031082/work
tqdm==4.36.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1654914591468/work
typed-ast @ file:///home/conda/feedstock_root/build_artifacts/typed-ast_1653227393593/work
typing==3.6.4
typing-extensions==3.7.2
uff==0.6.5
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111935350/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1668249950899/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1699959196938/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1723294704277/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1687789148259/work
Werkzeug==0.16.0
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1602463295408/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
